<h2>News Form</h2>
<form class="news-form" #newsForm="ngForm">
    <mat-form-field class="form-group">
      <mat-label for="name">Title</mat-label>
      <input
      matInput type="text" class="form-control" id="title" name="title"
      required
      [(ngModel)]="news.title"
      #title="ngModel">
      <mat-error *ngIf="!title.valid || !title.pristine">
        Please enter a title
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea matInput placeholder="Content" id="content" name="content"
      required
      [(ngModel)]="news.content"
      #content="ngModel"
      ></textarea>
      <mat-error *ngIf="!content.valid || !content.pristine">
        Please enter a content
      </mat-error>
    </mat-form-field>
    <div class="action">
      <button mat-raised-button routerLink="/news">Cancel</button>
      <button mat-raised-button [disabled]="!newsForm.form.dirty" (click)="clearNews(); newsForm.reset()">Clear</button>
      <button mat-raised-button [disabled]="!newsForm.form.valid"color="primary" (click)="submitForm()">Submit</button>
    </div>
</form>
