form {
  min-width: 150px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.news-form #content {
  min-height: 300px;
}

.news-form .action {
  display: flex;
}

.news-form .action button:first-child {
  margin-left: auto;
}

.news-form .action button {
  margin-right: 15px;
}
