<div class="news-container">
  <div class="action">
    <button mat-raised-button color="primary" routerLink="add">Create new post</button>
  </div>
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile *ngFor="let post of posts | async">
      <app-news-card
      [post] = post>
      </app-news-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
