.news-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid black;
  cursor: pointer;
}

.news-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-items: flex-start;
  justify-content: left;
  font-size: 2em;
}

.news-card .news-card-content p {
  justify-content: left;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.news-card mat-card {
  display: flex;
  flex-direction: column;
}
