<mat-card class="news-card" (click)="goToNewsDetail()">
  <mat-card-title>
    {{ post.title }}
  </mat-card-title>
  <mat-card-content class="news-card-content">
    <p>
      {{post.content}}
    </p>
  </mat-card-content>
</mat-card>

