<div class="news-card-detail" *ngIf="post$ | async; let post">
  <mat-card>
    <mat-card-title>
      {{ post.title }}
    </mat-card-title>
    <mat-card-content>
      {{ post.content }}
    </mat-card-content>
  </mat-card>
</div>

