.news-card-detail {
  padding: 5px;
}

.news-card-detail mat-card {
  border: 1px solid black;
}

.news-card-detail mat-card-title {
  font-size: 2.5em;
}

.news-card-detail mat-card-content {
  font-size: 1.5em;
}

